<footer class="footer_section">
	<div class="top_footer_sec">
		<div class="wrapper">
			<div class="grid">
				<div class="grid_box w_100">
					<div class="footer_inners">
						<h3>Find Us</h3>
						<div class="footer_social">
							<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
						</div>
					</div>
					<div class="footer_links">
						<ul>
							<li><a href="#">Terms of Use</a><li>
							<li><a href="#">Copyright and Trademark</a><li>
							<li><a href="#">Privacy Policy</a><li>
							<li><a href="#">Cookie Policy</a><li>
				
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom_footer_sec">
		<div class="wrapper">
			<div class="grid">
				<div class="grid_box w_100">
					<div class="copyright">
						<p>Powerd By: <a href="#"><img src="assets/images/Segwik_logo.png"></a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>