<section class="fst_section" id="the-book">
    <div class="wrapper">
        <div class="grid">
            <div class="grid_box w_50 ">
                <div class="product-section">
                    <div class="product-img">
                        <img src="https://via.placeholder.com/329x474/c6934b/c6934b.png%20C/O%20https://placeholder.com/" alt="" width="329" height="474">
                    </div>
                    <div class="wshss">
                        <a href="#" class="wishlists"><img src="assets/images/prayer_hands.png" alt=""> wishlist</a>
                    </div>
                </div>
            </div>	
            <div class="grid_box w_50 ">
                <div class="prodict-info">
                    <div class="tp-one">
                        <div class="by">Welcome to</div>
                        <h2 innerHTML="{{productTitle?.page_title}} <span *ngIf='afterTitle?.page_title'>{{afterTitle?.page_title}}</span>" *ngIf="productTitle?.page_title"></h2>
                        <div class="by">by <a href="#auther-s"innerHTML="{{productBy?.page_title}}"></a></div>
                        <div class="sizs">
                            <p>with  <strong>XVVI</strong> Contributors to be exact</p>
                        </div>
                    </div>
                    <div class="top-two">
                        <div class="price-main-n">
                            <h4>Virtual Book & Community</h4>
                            <h3 class="price-rate"><span class="doler">$</span> 9.99<span class="month">/month</span></h3>
                        </div>
                        <div class="book-types">
                            <div class="tabs-main">
                                <div class="tab">
                                    <button class="tablinks active" (click)="onClick($event, 'London')">
                                        <p class="sct-price">Virtual Book & Community</p>
                                        <h4><span class="dlr-tw">$</span> 9.99<span class="month-tw">/month</span></h4>
                                    </button>
                                    <button id="auther-s" class="tablinks" (click)="onClick($event, 'Paris')">
                                        <p class="sct-price">Virtual Book Only</p>
                                        <h4><span class="dlr-tw">$</span> 19.99<span class="month-tw">/1 Time</span></h4>
                                    </button>
                                    <button id="auther-s1" class="tablinks" (click)="onClick($event, 'Paris1')">
                                        <p class="sct-price">Pre-Order Hard Cover</p>
                                        <h4><span class="dlr-tw">$</span> 29.99<span class="month-tw">/1 Time</span></h4>
                                    </button>
                                    
                                    <button id="auther-s2" class="tablinks" (click)="onClick($event, 'Paris2')">
                                        <p class="sct-price">Life's Mediocre enough</p>
                                        <h4><span class="dlr-tw">$</span> 0<span class="month-tw">/1 Time</span></h4>
                                    </button>
                                    <button id="auther-s3" class="tablinks" (click)="onClick($event, 'Paris3')">
                                        <p class="sct-price">Mediocrates Life Lessons</p>
                                        <h4><span class="dlr-tw">$</span> 0<span class="month-tw">/1 Time</span></h4>
                                    </button>
                                    <button id="auther-s4" class="tablinks" (click)="onClick($event, 'Paris4')">
                                        <p class="sct-price">Send Chapter Anonymously</p>
                                        <h4><span class="dlr-tw">$</span> 1.29<span class="month-tw">/1 Time</span></h4>
                                    </button>
                            
                                </div>
                                <div class="add-to-cart"><a href="#">{{addtoBtn?.page_title}}</a></div>
                                <div class="tabs-cont">
                                    
                                    <div id="London" class="tabcontent" style="display:block;">
                                    <div class="pro-discrip">
                                        <h3>Product description</h3>
                                        <div class="product-dis">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Habitant morbi tristique senectus et netus et malesuada fames ac.</p>
                                        </div>
                                    </div>
                                    <div class="pr-dts">
                                        <h3>Product Details</h3>
                                        <div class="tablke-main">
                                            
                                            <table>
                                            
                                            <tr>
                                                <td>Published By:</td>
                                                <td>Cristina Digiacomo and Mark Boundy</td>
                                    
                                            </tr>
                                            <tr>
                                                <td>Published Date:</td>
                                                <td>January 1st, 2022</td>
                                                
                                            </tr>
                                            <tr>
                                                <td>Chapters:</td>
                                                <td>4</td>
                                    
                                            </tr>
                                            <tr>
                                                <td>Words:</td>
                                                <td>19,576</td>
                                
                                            </tr>
                                            <tr>
                                                <td>Contributors:</td>
                                                <td>14</td>
                    
                                            </tr>
                                            <tr>
                                                <td>Members:</td>
                                                <td>798</td>
                                
                                            </tr>
                                            
                                            <tr>
                                                <td>Forums:</td>
                                                <td>37</td>
                                    
                                            </tr>
                                            <tr>
                                                <td>Events:</td>
                                                <td>26</td>
                                                
                                            </tr>
                                            
                                            
                                            </table>
                                        </div>
                                    </div>
                                    </div>

                                    <div id="Paris" class="tabcontent">
                                    <div class="pro-discrip">
                                        <h3>Product description</h3>
                                        <div class="product-dis">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Habitant morbi tristique senectus et netus et malesuada fames ac.Habitant morbi tristique senectus et netus et.</p>
                                        </div>
                                        </div>
                                    </div>
                                    <div id="Paris1" class="tabcontent">
                                    <div class="pro-discrip">
                                        <h3>Product description</h3>
                                        <div class="product-dis">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Habitant morbi tristique senectus et netus et malesuada fames ac.Habitant morbi tristique senectus et netus et malesuada fames ac.</p>
                                        </div>
                                        </div>
                                    </div>
                                    <div id="Paris2" class="tabcontent">
                                    <div class="pro-discrip">
                                        <h3>Product description</h3>
                                        <div class="product-dis">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Habitant morbi tristique senectus et netus et malesuada fames ac.Habitant morbi tristique senectus et netus et malesuada fames ac.</p>
                                        </div>
                                        </div>
                                    </div>
                                    <div id="Paris3" class="tabcontent">
                                    <div class="pro-discrip">
                                        <h3>Product description</h3>
                                        <div class="product-dis">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Habitant morbi tristique senectus et netus et malesuada fames ac.Habitant morbi tristique senectus et netus et malesuada fames ac.</p>
                                        </div>
                                        </div>
                                    </div>
                                    <div id="Paris4" class="tabcontent">
                                    <div class="pro-discrip">
                                        <h3>Product description</h3>
                                        <div class="product-dis">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Habitant morbi tristique senectus et netus et malesuada fames ac.Habitant morbi tristique senectus et netus et malesuada fames ac.</p>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                    
                            </div>
                        </div>
                    </div>
                    <div class="top-thre">
                        <p>{{sampleFirst?.short_desc}} <a href="#" class="ragistr">{{sampleFirstBtn?.short_desc ? sampleFirstBtn.short_desc : "Download Sample"}}</a></p>
                        <p>{{sendGift?.short_desc}} <a href="#" class="ragistr">{{sendGiftBtn?.short_desc ? sendGiftBtn.short_desc : "Giftus Now"}}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="audio-sc" *ngIf="listenText?.short_desc">
    <div class="wrapper">
        <div class="grid">
            <div class="grid_box w_50">
                <div class="audio-main">
                    <h3>Listen</h3>
                    <div class="play-audio">
                        <a href="#"><img src="assets/images/play_button.png" alt="" width="41" height="41">{{listenText?.short_desc}}</a>
                    </div>
                </div>	
            </div>
        </div>
    </div>
</section>
<section class="Why_main" id="why-mediocrates" *ngIf="WhyText?.page_title || WhyText?.content">
    <div class="wrapper">
        <div class="grid">
            <div class="grid_box w_100">
                <div class="icon_upr_main">
                    <h3 class="homeh1_title" *ngIf="WhyText?.page_title">{{WhyText?.page_title}}</h3>
                    <div class="bdr-para" innerHTML="{{WhyText?.content}}" *ngIf="WhyText?.content"></div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<section class="stats_sections01" id="contributors">
    <div class="wrapper">
        <div class="title-sm" *ngIf="YouMayText?.page_title"><h3>{{YouMayText?.page_title}}</h3></div>
        <div class="grid">
            <div class="grid_box w_100">
                <div class="stats_imgs img_leftsects">
                    <ng-container *ngFor="let contributors of ContributorsList?.data; let i = index">
                        <div class="card" *ngIf="i<10">
                            <a href="#" class="card-wrrap" id="myBtn">
                                <div class="card-img">
                                    <img src="https://via.placeholder.com/116x151/c6934b/c6934b.png%20C/O%20https://placeholder.com/" alt="" width="116" height="151">
                                </div>
                                <div class="card-body">
                                    <p class="a">{{contributors?.firstname}} {{contributors?.lastname}}</p>
                                    <p *ngIf="contributors?.cust_lable">{{contributors?.cust_lable}}</p>
                                </div>
                            </a>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="client-img">
                <img src="https://via.placeholder.com/116x151/c6934b/c6934b.png%20C/O%20https://placeholder.com/" alt="" width="116" height="151">
            </div>
        </div>
    </div>

</section>

<section class="Community-sc" id="community" *ngIf="CommunityText">
	<div class="wrapper">
		<div class="grid">
			<div class="grid_box w_50">
				<div class="community-img">
					<img src="https://via.placeholder.com/485x322/c6934b/c6934b.png%20C/O%20https://placeholder.com/" alt="" width="485" height="322">
				</div>
			</div>
			<div class="grid_box w_50">
				<div class="community-cont">
					<h3>{{CommunityText?.page_title}}</h3>
					<p>Nulla malesuada pellentesque elit eget gravida. Quis
						varius quam quisque id diam vel quam elementum
						pulvinar. Aliquam nulla facilisi cras fermentum odio
						eu. Et odio pellentesque diam volutpat commodo.
						Ultrices neque ornare aenean euismod elementum,
						nisi quis eleifend. laculis eu non diam phasellus
						vestibulum lorem sed risus. Tortor vitae purus
						faucibus ornare suspendisse sed nisi. Fames ac turpis</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="stats_sections01 events" id="events" *ngIf="EventList?.success">
	<div class="wrapper">
		<div class="title-sm"><h3>Events</h3></div>	<div class="grid_box w_100">
		<div class="grid">
				<div class="stats_imgs img_leftsects">
					<div class="card" *ngFor="let Event of EventList?.data">
						<div class="card-wrrap">
							<div class="card-img">
								<img src="{{Event.cloudfront_url}}{{Event.json_class?.featured_image_url}}" alt="" width="116" height="151" *ngIf="Event.json_class?.featured_image_url">
								<img src="https://via.placeholder.com/116x151/c6934b/c6934b.png%20C/O%20https://placeholder.com/" alt="" width="116" height="151" *ngIf="!Event.json_class?.featured_image_url">
							</div>
							<div class="card-body">
								<a href="#">{{Event.class_title}}</a>
								<p>{{Event.class_start_time_utc * 1000 | date:'fullDate'}} <br>{{Event.class_start_time_utc * 1000 | date:'shortTime'}} EST - {{Event.class_end_time_utc * 1000 | date:'fullDate'}} {{Event.class_end_time_utc * 1000 | date:'shortTime'}} EST</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="stats_sections01 events Shop" id="shop" *ngIf="ProductList?.data.products">
	<div class="wrapper">
		<div class="title-sm"><h3>Shop</h3></div>
		<div class="grid_box w_100">
		    <div class="grid">
				<div class="stats_imgs img_leftsects">
					<div class="card" *ngFor="let Product of ProductList?.data.products">
						<div class="card-wrrap">
							<div class="card-img">
								<img src="{{ProductList.cloudfront_url}}{{Product.prod_img}}" alt="" width="116" height="151" *ngIf="Product.prod_img">
								<img src="https://via.placeholder.com/116x151/c6934b/c6934b.png%20C/O%20https://placeholder.com/" alt="" width="116" height="151" *ngIf="!Product.prod_img">
							</div>
							<div class="card-body">
								<a href="#" *ngIf="Product.prod_title">{{Product.prod_title}}</a>
							</div>
						</div>
					</div>
				</div>
		    </div>
		</div>
	</div>
</section>